# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# dotenv environment variable files
.env
# .env.development.local #로컬 테스트 용으로 그냥 올라가도록 설정
.env.test.local
.env.production.local
.env.local

dist

.idea
